#!/bin/bash

file="/var/lib/automysqlbackup"

warning=86400
critical=93600

/usr/lib/nagios/plugins/check_file_age -w $warning -c $critical $file >/dev/null 2>&1

if [ $? -eq 0 ] ; then
    status=0
    statustxt=OK
elif [ $ -eq 1 ] ; then
    status=1
    statustxt=WARNING
else
    status=2
   statustxt=CRITICAL
fi
echo "$status AutoMySQLBackup - `/usr/lib/nagios/plugins/check_file_age -w $warning -c $critical $file`"

